.label {
  text-wrap: nowrap;
}

.tag-list {
  box-sizing: border-box;

  :global {
    .ant-tag {
      background: var(--bg-color-grey-3);
    }
  }
}

.tag-container {
  max-height: 100px;
  flex: 1;
}

.tag-container-inner {
  padding-right: 12px;
  box-sizing: border-box;
}
